.BadgeGroup {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.BadgeGroup h1 {
  text-align: left;
  margin-bottom: 25px;
  color: #f38499;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .BadgeGroup {
    justify-content: space-around;
  }
}
