.AddressTokens {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

form {
  position: relative;
}

.AddressTokens p {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}
