html {
  box-sizing: border-box;
  background-color: rgb(236, 143, 143);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: rgb(236, 143, 143);
}

header {
  background-color: #afa;
  height: 100px;
  width: 100%;
}

footer {
  background-color: #afa;
  height: 100px;
  width: 100%;
}
