* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

div {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  background: #e9edf5;
  width: 100%;
  height: 100%;
  font-family: Archivo, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 300px;
  gap: 0px 0px;
  grid-auto-flow: row;
  overflow: auto;
}

header {
  grid-area: 1 / 1 / 1 / 1;
  background: #fff;
  background-image: url('./images/header.svg');
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
}
header img {
  margin: 30px;
  width: 100px;
  height: 130px;
}

#root {
  grid-area: 2 / 1 / 3 / 2;
  min-height: 200px;
}
input {
  text-align: center;
  line-height: 1.15;
  display: block;
}

footer {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url('./images/footer.svg');
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
}

.ethlogo {
  width: 145px;
  height: 35px;
  margin: 55px auto 0 auto;
}

.footerBadges {
  margin-bottom: 30px;
  max-width: 330px;
  margin: 0 auto 0 auto;
  width: 100%;
}

@media (min-width: 48em) {
  .footerBadges {
    margin: 0 auto 0 auto;
  }
}
